ul.nav {
    background-color: silver;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey; 
}

ul.nav a {
    color: green;
}

ul.nav a:visited {
    color: darkgreen;
}

form {
    width: 400px !important;
}

form * {
    margin-bottom: 10px;
    width: 100%;
}