{% extends "layout.html" %}

{% block page_title %}
Mans grāmatu plaukts
{% endblock %}

{% block head_inners %}
<script defer src="{{ url_for('static', filename='js/stars_animation.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/filtering_engine.js') }}"></script>

{% endblock %}

{% block main_content %}
    <table class="table" id="gramatuTabula">
        <tr>
            <th>
                Nosaukums
                <i class="bi bi-funnel" onclick="showFiltered('name')"></i>
            </th>
            <th>
                Autors
                <i class="bi bi-funnel" onclick="showFiltered('author')"></i>
            </th>
            <th>
                Lappušu skaits
                <i class="bi bi-funnel" onclick="showFiltered('pages')"></i>
            </th>
            <th>
                Žanrs
                <i class="bi bi-funnel" onclick="showFiltered('genre')"></i>
            </th>
            <th>
                Novērtēt
            </th>
            <th>
                Reitings
                <i class="bi bi-funnel" onclick="showFiltered('rating')"></i>
            </th>
        </tr>
        {% if mybooks != None %}
            {% for book in mybooks %}
                <tr class="bookRow">
                    <td>{{ book["book_name"] }}</td>
                    <td>{{ book["author"] }}</td>
                    <td>{{ book["pages"] }}</td>
                    <td>{{ book["genre_name"] }}</td>
                    <td>
                        <div class="stars">
                            <a 
                                href="/set_rating?book_id={{book['book_id']}}&value=1"
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);">
                            </a>
                            <a 
                                href="/set_rating?book_id={{book['book_id']}}&value=2"
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);">
                            </a>
                            <a 
                                href="/set_rating?book_id={{book['book_id']}}&value=3"
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);">
                            </a>
                            <a 
                                href="/set_rating?book_id={{book['book_id']}}&value=4"
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);">
                            </a>
                            <a 
                                href="/set_rating?book_id={{book['book_id']}}&value=5"
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);">
                            </a>
                        </div>
                    </td>
                    <td>
                        {% for rating in ratings_by_books %}
                            {% if book["book_id"] == rating["book_id"] %}
                                {{ (rating["SUM(score)"]/rating["COUNT(rating_id)"])|round(1) }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td style="text-align: center;" colspan="4">Nav nevienas grāmatas</td>
                </tr>
        {% endif %}
    </table>
{% endblock %}