{% extends "layout.html" %}

{% block page_title %}
Mans grāmatu plaukts
{% endblock %}

{% block head_inners %}
<script defer src="{{ url_for('static', filename='js/stars_animation.js') }}"></script>

{% endblock %}

{% block main_content %}
    <table class="table">
        <tr>
            <th>Nosaukums</th>
            <th>Autors</th>
            <th>Lappušu skaits</th>
            <th>Žanrs</th>
            <th>Reitings</th>
        </tr>
        {% if mybooks != None %}
            {% for book in mybooks %}
                <tr>
                    <td>{{ book["book_name"] }}</td>
                    <td>{{ book["author"] }}</td>
                    <td>{{ book["pages"] }}</td>
                    <td>{{ book["genre_name"] }}</td>
                    <td>
                        <div class="stars">
                            <a href="/set_rating?book_id={{book['book_id']}}&value=1">
                                <i 
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);"
                                "></i>
                            </a>
                            <a href="/set_rating?book_id={{book['book_id']}}&value=2">
                                <i 
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);"
                                "></i>
                            </a>
                            <a href="/set_rating?book_id={{book['book_id']}}&value=3">
                                <i 
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);"
                                "></i>
                            </a>
                            <a href="/set_rating?book_id={{book['book_id']}}&value=4">
                                <i 
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);"
                                "></i>
                            </a>
                            <a href="/set_rating?book_id={{book['book_id']}}&value=5">
                                <i 
                                class="bi bi-star"
                                onmouseover="animate_stars(this, this.parentElement);"
                                onmouseleave="hide_animation(this.parentElement);"
                                "></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td style="text-align: center;" colspan="4">Nav nevienas grāmatas</td>
                </tr>
        {% endif %}
    </table>
{% endblock %}